.home-instructions-section {
  background-color: var(--background-main1);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 4vh;
}

.home-instructions-title {
  font-family: var(--font-title);
  text-transform: capitalize;
  align-self: flex-start;
  letter-spacing: -3px;
  margin: 0 0 2vh 2vw;
  font-weight: 700;
  font-size: 7rem;
}

.home-instruction-container {
  display: flex;
  height: 80vh;
  width: 95vw;
  gap: 2vw;
}

.home-instruction-image-container {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
