body {
  font-family: Arial, sans-serif;
}

.trainer-settings-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.trainer-settings-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.trainer-settings-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.trainer-settings-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-input {
  height: 40px;
}

.form-textarea {
  resize: vertical;
  height: 80px;
}

.form-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-checkbox-container {
  display: flex;
  align-items: center;
}

.form-checkbox {
  margin-right: 5px;
}

.form-checkbox-label {
  margin-right: 10px;
  font-weight: normal;
}

.form-submit-button {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.form-submit-button:hover {
  background-color: #ff6347;
}

.profile-img {
  display: block;
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
