/* TrainerDetails.css */
.trainer-profile-section {
  justify-content: center;
  margin-top: 20vh;
  display: flex;
  height: 100%;
  width: 100%;
}

.trainer-profile-content-container {
  background-color: rgb(149, 133, 121);
  height: 100vh;
  width: 60vw;
}

.trainer-profile-actions-container {
  background-color: rgb(232, 168, 122);
  height: 100vh;
  width: 30vw;
}

.trainer-profile-content-intro {
  background-color: rgb(227, 254, 161);
  font-family: var(--font-content);
  align-items: flex-start;
  display: flex;
  height: 40vh;
}

.trainer-profile-image-container {
  border: 1px solid #ff7e7e;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.trainer-profile-image {
}

.trainer-profile-intro-container {
  border: 1px solid #ff7e7e;
  flex-direction: column;
  margin-left: 2rem;
  display: flex;
  gap: 1rem;
}

.trainer-profile-intro-name {
  font-family: var(--font-title);
  font-size: 3.5rem;
}

.trainer-profile-intro-description,
.trainer-profile-intro-teach {
  font-size: 1.5rem;
}
