.trainer-panel-pending-container,
.trainer-panel-approved-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--background-secondary3);
  border-radius: var(--border-radius-generic);
  flex-direction: column;
  min-height: 80vh;
  max-height: 100%;
  display: flex;
  padding: 1rem;
  width: 40vw;
  gap: 1rem;
}

.trainer-panel-container-title {
  font-family: var(--font-title);
  letter-spacing: -1px;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.trainer-panel-no-lessons-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.trainer-panel-cards-container {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.trainer-panel-user-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--background-secondary7);
  border-radius: var(--border-radius-generic);
  justify-content: space-between;
  transition: 0.5s;
  max-height: 25vh;
  min-height: 20vh;
  padding: 1rem;
  display: flex;
  opacity: 0.7;
  width: 100%;
}

.trainer-panel-user-card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.trainer-panel-card-image-container {
  min-height: 20vh;
  padding: 1rem;
  width: 12vw;
}

.trainer-panel-card-image {
  border-radius: var(--border-radius-generic);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.trainer-panel-card-details {
  justify-content: center;
  padding-left: 0.5rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.trainer-panel-card-content {
  text-transform: capitalize;
  flex-direction: column;
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
}

.card-icon-message {
  margin-top: 0.5rem;
}

.trainer-panel-card-icons {
  justify-content: space-between;
  flex-direction: column;
  min-height: 20vh;
  max-height: 25vh;
  display: flex;
}

.trainer-panel-button-icon {
  font-size: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.card-icon-message {
  font-size: 1.8rem;
}

.trainer-panel-button-icon:hover {
  color: var(--background-secondary1);
}
