.trainer-add-review-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.trainer-review-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--background-secondary7);
  border-radius: var(--border-radius-generic);
  transform: translate(-50%, -50%);
  font-family: var(--font-content);
  position: absolute;
  padding: 20px;
  margin: auto;
  width: 25vw;
  z-index: 2;
  left: 50%;
  top: 50%;
}

.trainer-review-container-upper {
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
}

.trainer-review-close-icon:hover {
  transform: scale(1.2);
  transition: 0.4s;
  cursor: pointer;
}

.rating-container {
  margin-bottom: 1rem;
  text-align: center;
}

.trainer-review-textarea {
  border: 1px solid var(--color-input-placeholder-border);
  border-radius: var(--border-radius-generic);
  margin-top: 1rem;
  padding: 1rem;
  resize: none;
  width: 100%;
}

#trainer-review-add-review-button {
  background-color: var(--background-secondary1);
  margin: 2rem 0;
  width: 100%;
}

#trainer-review-add-review-button:hover {
  filter: var(--button-brightness-filter);
}
