.pending-page {
  background-color: var(--color-white);
  color: var(--background-main2);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  height: 100vh;
  display: flex;
}
