.trainer-reviews-modal {
  transform: translate(-50%, -50%);
  background-color: rgb(243, 191, 125);
  border-radius: 15px;
  position: absolute;
  padding: 5rem;
  height: 90vh;
  width: 50vw;
  z-index: 4;
  left: 50%;
  top: 50%;
}

.trainer-reviews-modal-title-container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  font-size: 2rem;
  display: flex;
  height: 5vh;
}

.trainer-reviews-modal-close-icon {
  transition: 0.5s;
  font-size: 3rem;
  cursor: pointer;
}

.trainer-reviews-modal-close-icon:hover {
  transform: scale(1.1);
}

.trainer-reviews-modal-inner {
  background-color: rgb(125, 138, 138);
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  display: flex;
  height: 70vh;
  width: 100%;
}
