.admin-users-section {
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
}

.admin-users-containers {
  font-family: var(--font-content);
  justify-content: center;
  padding: 0 5rem;
  display: flex;
  gap: 2rem;
}

.admin-users-title {
  margin-bottom: 5vh;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
}

.admin-users-search-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  display: flex;
  width: 100%;
}

.admin-users-search {
  font-family: var(--font-content);
  padding-left: 0.3rem;
  font-size: 1.5rem;
  background: none;
  width: 20vw;
  height: 3rem;
  border: none;
  border-bottom: 2px solid var(--background-main2);
}

.admin-users-search:focus {
  outline: none;
}

.admin-container {
  flex-direction: column;
  overflow-y: scroll;
  max-height: 60vh;
  display: flex;
  padding: 1rem;
  width: 40vw;
  gap: 1rem;
}

.admin-container::-webkit-scrollbar {
  display: none;
}

.admin-container-title {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 2.5rem;
}

.admin-users-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--border-radius-generic);
  justify-content: space-between;
  background-color: white;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
}

.admin-users-card-trainer-name {
  text-transform: capitalize;
}

#admin-users-remove-button {
  background-color: var(--background-secondary1);
  width: 15rem;
}

#admin-users-remove-button:hover {
  filter: brightness(0.9);
}
