.become-trainer-section {
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  display: flex;
  height: 100vh;
  width: 100%;
}

.become-trainer-content-container {
  flex-direction: column;
  display: flex;
  height: 80vh;
  width: 50vw;
  gap: 5rem;
}

.become-trainer-title {
  font-family: var(--font-title);
  letter-spacing: -2px;
  font-size: 7vh;
}

.become-trainer-steps-container {
  display: flex;
  gap: 4vw;
}

.become-trainer-step {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.become-trainer-step-number-container {
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  display: flex;
  height: 5rem;
  width: 5rem;
}

.number-container-1 {
  background-color: var(--background-secondary1);
}

.number-container-2 {
  background-color: var(--background-secondary2);
}

.number-container-3 {
  background-color: var(--background-secondary2);
}

.become-trainer-number {
  font-size: 3rem;
}

.become-trainer-step-title {
  letter-spacing: -1px;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.become-trainer-step-text {
  font-family: var(--font-content);
  font-size: 1.4rem;
  margin-top: 1rem;
  width: 70%;
}

#become-trainer-button {
  background-color: var(--background-secondary1);
  font-size: 1.8rem;
  width: 30rem;
  height: 5rem;
}

#become-trainer-button:hover {
  filter: brightness(0.9);
}

.become-trainer-image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 70vh;
  width: 35vw;
}

.become-trainer-image {
  border-radius: var(--border-radius-generic);
  filter: brightness(0.9);
  object-fit: cover;
  height: 100%;
  width: 100%;
}
