@media screen and (max-width: 430px) {
  .home-hero-section {
    justify-content: space-around;
    padding-top: 20vh;
    height: 95vh;
  }

  .home-hero-title {
    letter-spacing: -2px;
    margin-bottom: 30vh;
    font-size: 3rem;
    width: 70%;
  }

  .hero-div-1 {
    font-family: var(--font-title);
    padding: 1vh 2vw 0 2vw;
    height: 20vh;
    gap: 0.5rem;
    width: 42vw;
    top: 47vh;
    left: 8vw;
  }

  .hero-div-1-text {
    letter-spacing: -1px;
    font-size: 1.6vh;
  }

  .hero-div-1-number {
    font-size: 3vh;
  }

  .hero-div-1-bars {
    margin-bottom: 1rem;
    height: 70%;
  }

  .hero-div-2 {
    height: 12vh;
    width: 30vw;
    right: 12vw;
    top: 45vh;
  }

  .hero-div-2-text {
    font-size: 2.5vh;
  }

  .hero-div-3 {
    display: none;
  }

  .hero-button {
    margin-bottom: 5rem;
  }
}
