.loading-quiz-modal {
  background-color: var(--background-secondary1);
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  display: flex;
  z-index: 1;
  bottom: 0;
  gap: 2rem;
  right: 0;
  left: 0;
  top: 0;
}

.loader-container{
  background-color: var(--background-secondary1);
}

.loading-quiz-modal-title {
  font-size: 3rem;
}

.loader-container {
  background-color: var(--background-secondary1);
  width: 5rem;
}
