@media screen and (max-width: 430px) {
  .trainer-reviews-section {
    margin-top: 20vh;
  }

  .trainer-reviews-header {
    text-align: center;
    font-size: 2rem;
  }

  .review-card {
    border-radius: 1rem;
    padding: 2rem;
    width: 90vw;
  }
}
