@media screen and (min-width: 430px) and (max-width: 800px) {
  .trainer-reviews-header {
    font-size: 2.5rem;
  }

  .review-card {
    border-radius: 1rem;
    padding: 2rem;
    width: 70vw;
  }
}
