.trainer-reviews-section {
  font-family: var(--font-content);
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem;
  margin-top: 10vh;
  display: flex;
  width: 100%;
  gap: 3rem;
}

.trainer-reviews-header {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.trainer-reviews-header-name {
  text-transform: capitalize;
}

.reviews-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 60%;
  gap: 1rem;
}

.review-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: var(--background-secondary7);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 1.2rem;
  align-items: center;
  padding: 1rem;
  display: flex;
  width: 40vw;
}

.review-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.review-user-image {
  border-radius: var(--border-radius-generic);
  margin-right: 2rem;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
}

.review-content {
  flex: 1;
}

.reviewer-name {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--background-secondary1);
}

.review-text {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.rating-container {
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.no-reviews {
  font-size: 2rem;
}
