.filter-container {
  justify-content: center;
  position: relative;
  display: flex;
  min-width: 0;
  width: 100%;
  gap: 1rem;
}

.filter-container-label {
  height: 5rem;
}

.filter-container-label-upper {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-left: 2rem;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.filter-container-inner-lower {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 1.6rem;
  text-align: left;
  width: 100%;
}

.filter {
  border: 2px solid var(--color-input-placeholder-border);
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  text-align: center;
  color: #111827;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  min-width: 0;
  width: 18vw;
}

.filter:hover {
  border-color: black;
}

.filter:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter:focus-visible {
  box-shadow: none;
}

label {
  margin-bottom: 5px;
  color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label span {
  margin-bottom: 5px;
}

.dropdown-content {
  background-color: #f9f9f9;
  border-color: black;
  position: absolute;
  border-radius: 8px;
  display: block;
  padding: 1rem;
  width: 100%;
  z-index: 1;
  top: 9vh;
}

.dropdown-content a {
  font-family: var(--font-content);
  text-decoration: solid;
  font-size: 1.4rem;
  font-weight: 400;
  display: block;
  color: black;
  margin: 1rem;
}

.dropdown-content a:hover {
  background-color: var(--color-input-placeholder-border);
}

.filter-input-container {
  margin-top: 10px;
  text-align: end;
  display: block;
}

.filter-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
