.login-form {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 30vw;
  gap: 2rem;
}

.login-form-title {
  letter-spacing: -1px;
  font-size: 3.5rem;
}

.login-form-text {
  font-size: 1.4rem;
}

.login-divider {
  align-items: center;
  display: flex;
  width: 100%;
}

.login-divider::before,
.login-divider::after {
  background-color: var(--color-input-placeholder-border);
  padding: 0.5px;
  margin: 5px;
  content: "";
  flex: 1;
}

.login-form-link {
  text-decoration: underline;
  color: inherit;
}

/* In order to overwrite the utilities */
#login-button,
#login-google-button {
  font-size: 1.8rem;
  width: 100%;
}

.login-google-icon {
  margin-right: 1rem;
}

/* In order to overwrite the utilities */
#login-button {
  background: var(--background-secondary1);
  margin-top: 1rem;
}

#login-button:hover {
  opacity: 0.8;
}

.login-form-policies {
  line-height: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

.login-form-error-message {
  text-transform: capitalize;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
}
