.logo-container {
  font-family: var(--font-title);
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
}

.logo-container:focus {
  outline: none;
}

.logo-image {
  width: 3rem;
}

.logo-text {
  color: var(--background-main2);
}
