body {
  font-family: Arial, sans-serif;
}

.trainer-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); /* Adjust for navbar and footer */
  margin: 0;
  padding-top: 80px; /* Adjust for navbar height */
  padding-bottom: 80px; /* Adjust for footer height */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.left-content,
.right-content {
  background-color: rgb(163, 198, 20);
  width: 45%;
  min-height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.left-content {
  background-color: rgb(4, 255, 0);
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.card-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-details {
  flex: 1;
}

.move-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

/* TrainerPanel.css */

.loader-quiz {
  width: 40px;
  height: 40px;
  --c: no-repeat linear-gradient(rgb(0, 0, 0) 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
