.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
}
.content {
  display: flex;
  flex-direction: row;
}
.left-content {
  background-color: rgb(4, 255, 0);
  width: 500px;
  height: 500px;
}
.right-content {
  background-color: rgb(163, 198, 20);
  width: 500px;
  height: 500px;
}
