.home-button {
  background-color: var(--color-buttons-home);
  font-family: var(--font-content);
  text-transform: capitalize;
  color: var(--color-white);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  width: 25rem;
  height: 5rem;
}

.home-button:hover {
  opacity: 0.9;
}

.home-button-arrow {
  vertical-align: middle;
  margin-left: 1rem;
}
