@media screen and (max-width: 430px) {
  .trainer-reviews-modal {
    height: 90vh;
    width: 100vw;
    top: 100%;
  }

  .trainer-reviews-modal-title-container {
    font-size: 1.5rem;
    height: 3vh;
  }

  .trainer-reviews-modal-reviews {
    padding: 1rem 0rem;
  }
}
