.loading-quiz-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: var(--background-secondary1);
  z-index: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.loading-quiz-modal h1 {
  font-size: 4rem;
}

.loader-container {
  width: 5rem;
}

