.account-settings-image-container {
  justify-content: space-between;
  position: relative;
  margin-top: 2rem;
  display: flex;
  width: 100%;
}

.account-settings-image-container::after {
  content: "Profile Image";
  position: absolute;
  font-size: 1.4rem;
  top: -3rem;
}

.image-display-left-box {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.image-display {
  border-radius: 1rem;
  object-fit: cover;
  height: 16rem;
  width: 16rem;
}

.image-edit-button {
  background-color: transparent;
  text-decoration: underline;
  width: 16rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.image-edit-button:hover {
  background-color: var(--color-hover-setting);
  border-radius: 1rem;
}

.image-upload-right-box {
  flex-direction: column;
  display: flex;
  width: 16rem;
  gap: 1rem;
}

.image-upload-button {
  white-space: nowrap;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.camera-icon {
  font-size: 2rem;
}

.image-upload-restrictions {
  color: var(--color-input-placeholder-text);
  font-size: 1.4rem;
}
