.favorite-trainers-section {
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  min-height: 80vh;
  margin-top: 20vh;
  display: flex;
  width: 100%;
}

.favorite-trainers-header-title {
  align-self: flex-start;
  margin-bottom: 5vh;
  font-size: 3rem;
  padding: 0 3vw;
  width: 100%;
}

.favorite-trainers-filter-search-container {
  padding: 0 5vw;
  width: 100%;
}

.favorite-trainers-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 3vw;
  display: flex;
  width: 100%;
}

.favorite-trainers-no-favorite{
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  display: flex;
  height: 80vh;
  width: 100%;
}

.favorite-trainers-no-favorite-title{
  font-family: var(--font-content);
  font-size: 3rem;
}