.navbar {
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 3rem;
  display: flex;
  height: 10vh;
  width: 100%;
  z-index: 4;
  left: 0;
  top: 0;
}

.navbar-left-container,
.navbar-right-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 50%;
  gap: 4rem;
}

.navbar-right-container {
  justify-content: end;
}

.navbar-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: inherit;
}

.navbar-link:hover {
  opacity: 0.5;
}

.navbar-link:focus {
  outline: none;
}

.navbar-login-button {
  align-items: center;
  font-size: 1.3rem;
  display: flex;
}

.navbar-icons-container {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.navbar-login-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.navbar-icon {
  color: var(--background-main2);
  font-size: 2rem;
}

.navbar-favorite-link {
  position: relative;
}

.history-icon{
  font-size: 2.4rem;
}


.navbar-favorite-counter {
  border: 2px solid var(--background-main1);
  background: var(--background-main2);
  font-family: var(--font-content);
  color: var(--background-main1);
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  font-size: 1.3rem;
  display: flex;
  height: 2rem;
  width: 2rem;
  bottom: 50%;
  left: 50%;
}

.navbar-user-image {
  border-radius: 20%;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.navbarList {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: var(--background-secondary3);
  text-transform: capitalize;
  flex-direction: column;
  border-radius: 15px;
  position: absolute;
  font-size: 1.7rem;
  height: 13rem;
  padding: 2rem;
  display: flex;
  width: 12rem;
  z-index: 6;
  gap: 1rem;
  top: 5vh;
  right: 0;
}

.navbarList-item {
  cursor: pointer;
  color: inherit;
  width: 100%;
}

.logout-link {
  border-top: 1px solid var(--color-input-placeholder-text);
  padding-top: 0.5rem;
}

.navbarList-item:hover {
  opacity: 0.6;
}
