.navbar {
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 3rem;
  display: flex;
  height: 10vh;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.navbar-left-container,
.navbar-right-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 50%;
  gap: 4rem;
}

.navbar-right-container {
  justify-content: end;
}

.navbar-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: inherit;
}

.navbar-login-button {
  align-items: center;
  font-size: 1.3rem;
  display: flex;
}

.navbar-login-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}
