@media screen and (max-width: 430px) {
  .footer-section {
    height: 100%;
  }

  .footer-upper-container {
    flex-direction: column;
    height: 100%;
  }

  .footer-upper-right-container {
    width: 40vw;
  }
  .footer-image-container {
    width: 40vw;
  }

  .footer-follow-us {
    margin-top: 10vh;
  }

  .footer-social {
    font-size: 3rem;
    height: 6rem;
    width: 6rem;
  }
}
