/* Buttons */
.button-transparent {
  font-family: var(--font-content);
  text-transform: capitalize;
  border: 2px solid black;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  background: none;
  cursor: pointer;
}

.button-transparent:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.button-transparent:focus {
  outline: none;
}
