:root {
  /*------------ Backgrounds ------------*/
  --background-main1: rgb(242, 240, 233);
  --background-main2: rgb(19, 19, 19);

  --background-secondary1: #fe7a71;
  --background-secondary2: #f9cdcd;
  --background-secondary3: #e0dac9;
  --background-secondary4: rgb(76, 172, 200);
  --background-secondary5: rgb(222, 173, 92);
  --background-secondary6: rgb(204, 226, 255);
  --background-approved: rgb(181, 237, 176);

  /*------------ Colors ------------*/
  /* Colors -> Buttons */
  --color-input-placeholder-border: rgb(198, 198, 198);
  --color-input-placeholder-text: rgb(163, 163, 163);
  --color-buttons-home: rgb(18, 17, 23);
  --color-hover-setting: #dad9d9;

  /*------------ Fonts ------------*/
  --font-content: "Figtree", sans-serif;
  --font-title: "Inter", sans-serif;

  /*------------ border-radius ------------*/
  --border-radius-generic: 8px;
}
