.search-container {
  justify-content: flex-end;
  margin-bottom: 15vh;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  z-index: 0;
  gap: 1rem;
}

.search-input {
  border: 2px solid var(--color-input-placeholder-border);
  background-color: transparent;
  padding-left: 3rem;
  border-radius: 8px;
  font-size: 1.5rem;
  width: 17.2vw;
  height: 5rem;
}

.vailer-select {
  font-size: 1.3rem;
}

.search-input:hover {
  border: 2px solid black;
}

.vailer-dropdown-content {
  background-color: var(--background-main1);
  border-color: black;
  position: absolute;
  border-radius: 8px;
  display: block;
  padding: 1rem;
  z-index: 21;
  top: 9vh;
  left: 0;
}

.vailer-dropdown-content a {
  font-family: var(--font-content);
  text-decoration: solid;
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  color: black;
  margin: 1rem;
}

.vailer-dropdown-content a:hover {
  background-color: var(--color-input-placeholder-border);
}

.vailer-container {
  border: 2px solid var(--color-input-placeholder-border);
  text-transform: capitalize;
  flex-direction: column;
  line-height: 1.25rem;
  border-radius: 8px;
  padding: 1.5rem 2rem;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  min-width: 0;
  height: 5rem;
  width: 10vw;
}

.vailer-container:hover {
  border: 2px solid black;
}

.search-trainer-container {
  position: relative;
}

.search-trainer-icon {
  position: absolute;
  font-size: 1.5rem;
  left: 1rem;
  top: 30%;
}
