.sign-up-form {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 30vw;
  gap: 2rem;
}

.sign-up-form-title {
  letter-spacing: -1px;
  font-size: 3.5rem;
}

.sign-up-form-text {
  font-size: 1.4rem;
}

.sign-up-divider {
  align-items: center;
  display: flex;
  width: 100%;
}

.sign-up-divider::before,
.sign-up-divider::after {
  background-color: var(--color-input-placeholder-border);
  padding: 0.5px;
  margin: 5px;
  content: "";
  flex: 1;
}

.sign-up-form-link {
  text-decoration: underline;
  color: inherit;
}

#sign-up-google-button {
  font-size: 1.8rem;
  width: 100%;
}

.sign-up-google-icon {
  margin-right: 1rem;
}

#sign-up-button {
  background: var(--background-secondary1);
  font-size: 1.8rem;
  width: 100%;
}

#sign-up-button:hover {
  opacity: 0.8;
}

.sign-up-form-policies {
  line-height: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

.sign-up-form-error-message {
  color: var(--background-secondary1);
  text-transform: capitalize;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
}
