.trainee-lessons {
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trainee-in-progress-lessons-container {
 width: 50%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.trainee-lesson-history-container {
  width: 50%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.lesson-container-title {
  font-size: 3rem;
}

.trainee-lesson-history-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 95%;
  
}

.trainee-lesson-item {
  background: #ffffff; 
  width: 100%;
  border-radius: 0.8rem; 
  box-shadow: 0 0.2rem  0.4rem rgba(0, 0, 0, 0.1); 
  padding: 1.5rem; 
  display: flex;
  justify-content: space-between;
  gap: 0.5rem; 
  transition: transform 0.2s, box-shadow 0.2s;
}

.trainee-lesson-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2); 
}

.lesson-trainer-content {
  display: flex;
  gap: 1rem;
}

.lesson-trainer-image {
  border-radius: 50%;
  width: 35%;
}

.lesson-trainer-info {
  font-size: 1.6rem;
}

.add-review-button {
  height: 10%;
  align-self: center;
}

.lesson-status {
  border-radius: 1rem;
  padding: 0.5rem;
  max-height: 30%;
  font-size: 1.6rem;
  background-color: rgb(247, 110, 110);
}

.lesson-status .approved {
  background-color: rgb(129, 233, 138);
}






