@media screen and (min-width: 430px) and (max-width: 800px) {
  .lesson-container-title {
    font-size: 2rem;
  }

  .trainee-lesson-history-items {
    width: 90%;
  }

  .lesson-trainer-image {
    width: 15vw;
  }
}
