.trainee-lessons {
  align-items: center;
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  gap: 1rem;
}

.trainee-in-progress-lessons-container {
  flex-direction: column;
  align-items: center;
  min-height: 80%;
  display: flex;
  width: 50%;
  gap: 5rem;
}

.trainee-lesson-history-container {
  flex-direction: column;
  align-items: center;
  min-height: 80%;
  display: flex;
  width: 50%;
  gap: 5rem;
}

.lesson-container-title {
  font-size: 3rem;
}

.trainee-lesson-history-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 95%;
}

.trainee-lesson-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: var(--background-secondary7);
  font-family: var(--font-content);
  justify-content: space-between;
  border-radius: 0.8rem;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.lesson-trainer-content {
  object-fit: cover;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.lesson-trainer-image {
  border-radius: var(--border-radius-generic);
  width: 100%;
}

.lesson-trainer-info {
  flex-direction: column;
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
}

#add-review-button {
  background-color: var(--background-secondary1);
  height: 4rem;
}

#add-review-button:hover {
  filter: brightness(0.9);
}

.lesson-status {
  background-color: rgb(247, 110, 110);
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  max-height: 30%;
}

.approved {
  background-color: rgb(129, 233, 138);
}
