@media screen and (min-width: 430px) and (max-width: 800px) {
  .trainer-profile-section {
    flex-direction: column;
  }

  .trainer-profile-content-container {
    width: 100vw;
  }

  .trainer-profile-content-intro {
    height: 30vh;
  }

  .trainer-profile-actions-container {
    padding: 2rem;
    height: 100%;
    width: 100vw;
    gap: 5rem;
  }
}
