.calender-modal {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: var(--border-radius-generic);
  background-color: var(--background-main1);
  transform: translate(-50%, -50%);
  font-family: var(--font-content);
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-height: 40vh;
  max-height: 100%;
  display: flex;
  padding: 1rem;
  border: none;
  width: 50vw;
  z-index: 6;
  gap: 2rem;
  left: 50%;
  top: 50%;
}

.calender-modal-exit-button {
  position: relative;
  width: 100%;
}

.exit-button {
  transition: all 0.3s ease;
  position: absolute;
  font-size: 2.5rem;
  cursor: pointer;
  right: 0.5rem;
  top: 0.5rem;
}
.exit-button:hover {
  color: var(--background-secondary1);
  transform: scale(1.2);
}

/* Custom styles for react-calendar */
.react-calendar {
  border-radius: var(--border-radius-generic);
  background-color: var(--color-white);
  border: none;
  height: 85%;
  width: 90%;
}

.react-calendar__tile {
  background: var(--color-white);
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 2rem;
}

.react-calendar__tile--now {
  background: var(--background-main1);
}

.react-calendar__tile--active .react-calendar__tile {
  color: var(--color-white);
}

.react-calendar__tile--disabled {
  background: var(--color-hover-setting);
  cursor: not-allowed;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: var(--background-secondary1);
}

.react-calendar__navigation button:disabled {
  display: none;
}

/* Styles for available hours */
.available-hours {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
}

.available-hours h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.available-hours ul {
  list-style: none;
  padding: 0;
}

.available-hours li {
  background-color: var(--color-white);
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem;
}

.available-hours li.selected-hour {
  background-color: var(--background-secondary1);
  color: var(--color-white);
}
.available-hours li:hover {
  background-color: var(--color-hover-setting);
  transform: scale(1.03);
}

.booked-hour {
  color: var(--background-secondary1);
  text-decoration: line-through;
  cursor: not-allowed;
}

.react-calendar__navigation button {
  background-color: var(--background-secondary1);
  border-radius: var(--border-radius-generic);
  pointer-events: none;
  color: var(--color-white);
  padding: 1rem;
}

.calender-modal-bottom-buttons-container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 8rem;
  width: 100%;
}

#calender-cancel-button {
  width: 15rem;
}

#calender-book-button {
  background-color: var(--background-secondary1);
  width: 15rem;
}

#calender-book-button:hover {
  filter: var(--button-brightness-filter);
}
