.quiz-container-section {
  scrollbar-width: none;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.quiz-left-section {
  background-color: var(--background-secondary1);
  color: var(--background-main1);
  font-family: var(--font-title);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  flex: 1;
}

.quiz-left-section-title {
  font-size: 5rem;
}

.quiz-right-section {
  background-color: var(--background-main1);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 10rem;
  display: flex;
  flex: 1;
}

.quiz-radio-container {
  scrollbar-color: var(--background-main1) var(--background-main1);
  overflow-y: scroll;
  max-height: 60vh;
  width: 100%;
}

.quiz-dropdown {
  border: 2px solid var(--color-input-placeholder-border);
  font-family: var(--font-content);
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px;
  width: 100%;
}

.quiz-dropdown:hover {
  border: 2px solid black;
}

.quiz-option {
  border: 2px solid var(--color-input-placeholder-border);
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  width: 100%;
}

.quiz-option:hover {
  border: 2px solid black;
}

.quiz-option input {
  border: 2px solid black;
  margin-right: 10px;
}

.option label {
  color: var(--background-main2);
  font-size: 1.5rem;
}

#quiz-skip-button {
  position: absolute;
  font-size: 2rem;
  height: 5rem;
  right: 5vw;
  top: 5vh;
}

.quiz-continue-button-container {
  display: flex;
  width: 100%;
}

#quiz-continue-button {
  background-color: var(--background-secondary1);
  margin-top: 10vh;
  font-size: 2rem;
  height: 5rem;
  width: 100%;
}

#quiz-continue-button:hover {
  filter: brightness(0.9);
}

.quiz-previous-button {
  background-color: transparent;
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
  font-size: 4vh;
  left: 2vw;
  top: 5vh;
}

.quiz-previous-button:hover {
  transform: translateX(-0.5rem);
}

.slider-container {
  width: 100%;
  margin: 20px 0;
}

.quiz-slider {
  background: var(--background-secondary3);
  -webkit-appearance: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
}

.quiz-slider:focus {
  outline: none;
}

.quiz-slider::-webkit-slider-thumb {
  background-color: var(--background-secondary1);
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}

.quiz-slider-rate-range {
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.slider-value {
  font-size: 3rem;
  margin-top: 10px;
}
