.trainer-card-container {
  border: 2px solid var(--color-input-placeholder-border);
  margin-bottom: 1.5rem;
  border-radius: 5px;
  min-height: 40vh;
  max-height: 100%;
  padding: 1rem;
  display: flex;
  width: 65vw;
}

.trainer-card-container:hover {
  border-color: var(--background-main2);
}

.trainer-card-image-container {
  padding: 1rem;
  height: 35vh;
  width: 20vw;
}

.trainer-card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.trainer-card-content-container {
  flex-direction: column;
  display: flex;
  padding: 1rem;
  width: 25vw;
  gap: 0.3rem;
}

.trainer-card-name {
  font-family: var(--font-title);
  text-transform: capitalize;
  font-size: 2.5rem;
}

.trainer-card-level,
.trainer-card-location {
  font-family: var(--font-content);
  text-transform: capitalize;
  font-size: 1.3rem;
}

.trainer-card-sport {
  background-color: var(--background-secondary2);
  font-family: var(--font-content);
  text-transform: capitalize;
  width: fit-content;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.trainer-card-information {
  font-family: var(--font-content);
  font-size: 1.4rem;
  margin-top: 1rem;
}

.trainer-card-right-content-container {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  padding: 1rem;
  width: 20vw;
}

.trainer-card-right-data {
  justify-content: space-evenly;
  display: flex;
}

.trainer-card-reviews,
.trainer-card-price,
.trainer-card-like {
  font-family: var(--font-title);
  letter-spacing: -1px;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
}

.trainer-card-reviews-container,
.trainer-card-price-lesson-length-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-card-like:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.trainer-card-icon {
  margin-right: 0.5rem;
  font-size: 2.2rem;
}

#trainer-card-button {
  background-color: var(--background-secondary1);
  font-size: 1.7rem;
  height: 4.5rem;
  width: 100%;
}

#trainer-card-button:hover {
  opacity: 0.8;
}

/* Why is it here?? */
.admin-approve {
  background-color: var(--background-approved);
  border-radius: var(--border-radius-generic);
  border: 2px solid var(--background-main2);
  font-family: var(--font-content);
  text-transform: capitalize;
  color: var(--color-white);
  padding: 1rem 2rem;
  font-size: 1.7rem;
  height: 4.5rem;
  width: 100%;
}

.admin-approve:hover {
  background-color: var(--background-approved);
}
